* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    border: 1px solid black;
    height: auto; /* 900px */
}

.row {
    border: 1px solid red;
    height: auto; /* 720px */
}

.col {
    border: 1px solid blue;
    height: auto; /* 600px */
}

.card {
    border: 3px solid green;
    height: auto;
}

.card-img-top {
    /* width: 100%; */
    height: auto;
}

div.card-body {
    border: 2px solid violet;
    /* width: 100%; */
}








.my_c_ma {
    background-color: #1abc9c;
} 

.my_c_sb {
    color: #1cb89a;
}

.my_c_fo {
    background-color: #3a546d;
}

.my_c_lafo {
    background-color: #2c3e50;
}

.social {
   border: 1px solid white;
   width: 50px;
   height: 50px;
}